<section class="todoapp">
  <app-header (newItemEvent)="addTask($event)"></app-header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" *ngIf="data">
      <ul class="todo-list">
        <li *ngFor="let dato of task;index as i" 
        [ngClass]="{completed:dato.completed,editing:dato.editing}"
        (dblclick)="editar(i)"
        >
          <div class="view">
            <input class="toggle" type="checkbox" [checked]="dato.completed" (change)="updateTask(i)"/>
            <label >{{dato.title}}</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" [value]="dato.title" (keydown.enter)="updateTaskText(i, $event)"  (keydown.esc)="updateTaskTextEsc(i)"/>
        </li>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <app-footer *ngIf="data" [task]="task" (delete)="deleteCompleted()" [ruta]="ruta"></app-footer>
  </div>
</section>
